/* Define o estilo do tabuleiro */
#tic-tac-toe {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin: 0px auto;
    border: 1px solid rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    background-color: #c2b502; /* adiciona uma cor de fundo */
    border-radius: 5px;

}

/* define um estilo geral para o corpo da página */
body{
  background-color: #c2b502;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
  /* define um estilo para o tabuleiro */
.board {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
  
  /* define um estilo para as linhas do tabuleiro */
.row {
  display: flex;
  width: 100%;
  height: 33.33%;
}
  
.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  height: 100%;
  font-size: 36px;
  font-weight: bold;
  border: 3px solid black;
  cursor: pointer;
  user-select: none;
  text-align: center; /* centraliza o conteúdo */
  transition: background-color 0.3s ease; /* adiciona transição de cor */
  border-radius: 5px;
}
  
.square:hover {
  background-color: #f0f0f0;
}
  
.square.selected {
  background-color: #c1c1c1;
}

#result, #human-btn, #bot-btn {
  display: block;
  margin: auto;
}

#result {
  text-align: center;
  border-radius: 5px;
  position: fixed;

}

#human-btn, #bot-btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin: 10px;
}

#human-btn:hover, #bot-btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000000;
}
    
.game-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10vh;
}


header {
  display: flex;
  justify-content: center;
  padding: 32px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
  
header img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  object-position: center;
}
  



