* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #c2b502;
  }
  
  .container {
	display: flex;
	justify-content: center;
  }
  
  .game-grid {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
  }  
  
  .card {
	background-color: #c2b502;
	border: 2px solid #000;
	cursor: pointer;
	font-size: 2em;
	font-weight: bold;
	height: 80px;
	text-align: center;
	margin: 5px 9px;
	width: 80px;
	padding: 20px;
  }
  
  .flipped {
	background-color: #000;
	color: #fff;
  }
  
  .correct {
	background-color: #0f0;
	color: #000000;
  }
  
  .incorrect {
	background-color: #f00;
	color: #fff;
  }
  
/* Define a formatação do cabeçalho */
header {
	display: flex;
	justify-content: center; /* centraliza horizontalmente */
	align-items: center; /* centraliza verticalmente */
	position: fixed; /* fixa o cabeçalho na página */
	top: 4.5%; /* posiciona o cabeçalho no topo */
	left: 0; /* posiciona o cabeçalho à esquerda */
	width: 100%; /* define a largura total da página */
	height: 50px;
	z-index: 1000; /* define a ordem de empilhamento (importante para evitar que o cabeçalho fique por baixo de outros elementos da página) */
  }
  
	
  /* Define o tamanho e o alinhamento da imagem dentro do cabeçalho */
  header img {
	width: 50px;
	height: 50px;
	object-position: center;
  }

  .card-value.hidden {
	display: none;
}

.card-value.visible {
	display: block;
}

.win-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00ff00;
    color: #000;
    padding: 50px;
    border-radius: 10px;
    font-size: 2em;
	border: 4px solid #333;
}
