body {
  font-family:'Courier New', Courier, monospace;
  background-color: #005f08;
  margin: 0;
}

.title {
  text-align: center;
  color: #00ff44;
  font-size: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 200px;
  margin: 0 auto;
  padding: 10px;
}
.menu {
  list-style: none;
  margin: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #00ff44;
  border-radius: 5px;
}

.menu li {
  margin: 0 10px;

}

.menu a {
  display: block;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 25px;
}

.menu a:hover {
  background-color: #21ad57;
}