#tic-tac-toe {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    border: 1px solid rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    background-color: #505050; /* adiciona uma cor de fundo */
  }

  body{
    background-color: #07c117;
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  
  .row {
    display: flex;
    width: 100%;
    height: 33.33%;
  }
  
  .square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 100%;
    font-size: 36px;
    font-weight: bold;
    border: 3px solid black;
    cursor: pointer;
    user-select: none;
    text-align: center; /* centraliza o conteúdo */
    transition: background-color 0.3s ease; /* adiciona transição de cor */
  }
  
  /* adiciona um estilo diferente quando o jogador seleciona um quadrado */
  .square:hover {
    background-color: #f0f0f0;
  }
  
  .square.selected {
    background-color: #c1c1c1;
  }

  #reset-btn{
    padding: 10px;
    margin: 20px;
  }