body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #cdbf00;
  margin: 0;
}

/* Centralizando o conteúdo do cabeçalho */
header {
  display: flex;
  justify-content: center;
  padding: 40px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

header img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  object-position: center;
}

.menu {
  display: flex; 
  list-style: none;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    padding: 20px;
  }
}


ul.menu {
  width: 80%;
  margin: 0 auto;
}


.menu a {
  display: block;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 25px;
  margin: 10px;
  background-color: #fff200;
  border-radius: 10px;

}

.menu a:hover {
  background-color: #cdbf00;
}