body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    background-color: #07c117;
  }
  
  .game {
    margin: 50px auto;
    text-align: center;
  }
  
  canvas {
    border: 2px solid #333;
  }
  
  #score {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }