:root {
    --font-family: 'Courier New', Courier, monospace;
    --color-text: #333;
    --color-accent: rgb(103, 103, 103);
    --size-base: 16px;
  }

  body {
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--color-text);
    background-color: #db3bf0;
  }
  

  #container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
  }
  
  #word {
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.625rem;
  }
  
  #incorrect {
    color: red;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
  }
  
  #guess {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
  }
  
  #letter {
    font-size: 5rem;
    width: 3.125rem;
    text-align: center;
    margin-right: 1.25rem;
  }

  #letter-buttons {
    padding: 30px 0;
  }

  #letter-buttons button {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  h1#voltar {
    text-align: center;
    margin-top: 50px;
  }

  h1#voltar a {
    text-decoration: none;
  }