:root {
    --color-text: #333;
    --color-accent: rgb(103, 103, 103);
    --size-base: 16px;
  }

  body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: var(--color-text);
    background-color: #fff200;
  }
  

  #container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
  }
  
  #word {
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.625rem;
  }
  
  #incorrect {
    color: red;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
  }
  
  #guess {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
  }
  
  #letter {
    font-size: 5rem;
    width: 3.125rem;
    text-align: center;
    margin-right: 1.25rem;
  }

  #letter-buttons {
    padding: 30px 0;
  }

  #letter-buttons button {
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    margin: 2px;
  }
  
  #letter-buttons button:hover {
    background-color: #fff200;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  }
  

  h1#voltar {
    text-align: center;
    margin-top: 50px;
  }

  h1#voltar a {
    text-decoration: none;
  }

  #list-name {
    text-align: center;
    margin-top: 10px;
  }