/* Define a fonte utilizada no corpo do documento */
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #cdbf00;
  margin: 0;
  }
  
  /* Define a formatação do cabeçalho */
  header {
  display: flex;
  justify-content: center;
  padding: 40px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  }
  
  /* Define o tamanho e o alinhamento da imagem dentro do cabeçalho */
  header img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  object-position: center;
  }
  
  /* Define o estilo do menu */
  .menu {
  display: flex;
  list-style: none;
  padding: 40px;
  justify-content: center;
  align-items: center;
  }
  
  /* Define as regras de estilo para dispositivos móveis com tela de até 768px */
  @media only screen and (max-width: 768px) {
  .menu {
  flex-direction: column;
  padding: 20px;
  }
  }
  
  /* Define o tamanho e o alinhamento do menu */
  ul.menu {
  width: 80%;
  margin: 0 auto;
  }
  
  /* Define o estilo dos links do menu */
  .menu a {
  display: block;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 25px;
  margin: 10px;
  background-color: #fff200;
  border-radius: 10px;
  }
  
  /* Define o estilo do link quando o cursor do mouse é colocado em cima */
  .menu a:hover {
  background-color: #cdbf00;
  }